---
layout: default
---
<div class="home">
  <ul class="toc">
    {% for book in site.books %}
    <li class="book">
      {% assign index = book.book | minus: 1 %}
      <h2>
        <!-- <a href="{{ book.url | prepend: site.baseurl }}">Book {{ book.book }}: {{ book.title }}</a> -->
        Book {{ book.book }}: {{ book.title }}
      </h2>

      <ul class="lessons">

        {% assign lessons = (site.lessons | where: 'book', book.book) %}
        {% assign summary = lessons | where: 'type', 'summary' | first %}
        {% assign answers = lessons | where: 'type', 'answers' | first %}
        
        {% for lesson in lessons %}
          {% if lesson.published and lesson.lesson %}
          <li>
            <a href="{{ lesson.url | prepend: site.baseurl }}">
              {% include lesson-title.html lesson=lesson %}
            </a>
          </li>
          {% endif %}
        {% endfor %}
        
        {% if summary.published %}
        <li>
          <a href="{{ summary.url | prepend: site.baseurl }}">Summary and Review</a>
        </li>
        {% endif %}
        
        {% if answers.published %}
        <li>
          <a href="{{ answers.url | prepend: site.baseurl }}">Selected Answers</a>
        </li>
        {% endif %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
