---
layout: default
---

<div class="home">
  <ul class="toc">
    {% assign books = (site.pages | group_by: "book" ) %}
    {% for book in books %}{% unless book.name == "" %}
      <li class="book">
        {% assign index = book.name | minus: 1 %}
        <h2>Book {{ book.name }}: {{ site.data.books[index].title }}</h2>
        <ul class="lessons">
          {% for lesson in book.items %}
            <li>
              <a href="{{ lesson.url | prepend: site.baseurl }}">
                Lesson {{ lesson.lesson }}:
                {% assign words = (lesson.title | prepend: '' | split: ' ') %}
                {% for word in words %}{{ word | capitalize }} {% endfor %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endunless %}{% endfor %}
  </ul>
</div>
