---
layout: default
---
<div class="home">
  <ul class="toc">
    {% for book in site.books %}
    <li class="book">
      {% assign index = book.book | minus: 1 %}
      <h2><a href="{{ book.url | prepend: site.baseurl }}">Book {{ book.book }}: {{ book.title }}</a></h2>
      <ul class="lessons">
        {% assign lessons = (site.lessons | where: 'book', book.book) %}
        {% for lesson in lessons %}
          {% if lesson.published %}
          <li>
            <a href="{{ lesson.url | prepend: site.baseurl }}">
              {% include lesson-title.html lesson=lesson %}
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
