@font-face {
  font-family: 'Garamond';
  font-weight: normal;
  font-style: normal;
  src: url('.fonts/GaramondNo8-Regular.ttf');
}
@font-face {
  font-family: 'Garamond';
  font-weight: normal;
  font-style: italic;
  src: url('.fonts/GaramondNo8-Italic.ttf');
}
@font-face {
  font-family: 'Garamond';
  font-weight: bold;
  font-style: normal;
  src: url('.fonts/GaramondNo8-Bold.ttf');
}
@font-face {
  font-family: 'Garamond';
  font-weight: bold;
  font-style: italic;
  src: url('.fonts/GaramondNo8-Bold-Italic.ttf');
}

/* prevent weird rendering of square roots */
math { font-family: serif; }
