
.book-page {
  
  .toc .lessons {
      margin-left: 0;
      padding-left: 0;
      list-style: none;

      > li {
          margin-bottom: lines(2);
          a:after {
            content: leader(dotted) " " target-counter(attr(href), page);
          }
      }
  }
}

$margin-print-outer:  36pt;
$margin-print-gutter: 54pt;

@import 'paged-media';
@include mq(print) {
  /**
   * Print-specific layout & style.
   */
  .book-page {
    counter-reset: page 1;
    .lesson { page-break-before: always; }
  }
  
  // These string-sets are used by the paged-media for running headers.
  h1 > .book { string-set: book-title content(); }
  .lesson h1 { string-set: lesson-title content(); }
  @include page-setup();
}
