
.book-page {
  .toc {
    h1 {
      font-size: 3em;
      margin: 2em 0;
      text-align: right;
    }
  }
  .toc .lessons {
    font-family: $font-family-display;
    margin-left: 0;
    padding-left: 5em;
    padding-right: 10em;
    list-style: none;

    > li {
      margin-bottom: lines(2);
      a:after {
        content: leader(dotted) " " target-counter(attr(href), page);
      }
    }
  }

  .title-page {
    h1 {
      font-size: 3em;
    }
  }
}

$margin-print-outer:  36pt;
$margin-print-gutter: 54pt;
$content-height-print: 11 * 72pt - 2 * $margin-print-outer;

@import 'paged-media';
@include mq(print) {
  /**
   * Print-specific layout & style.
   */
  .book-page {
    counter-reset: page 1;
    /* default: start new section on a right-hand page */
    .book > section { page-break-before: right; }
    /* specific cases: */
    .book > .title-page { page-break-before: auto; counter-reset: page 1; } // don't force a page break for title page
    .book > .habit-lesson { page-break-before: left; }
    .book > .habit-list { page-break-before: left; }
    .book > .toc { page-break-before: right; counter-reset: page 1; }
    .book > #summary-and-review .problems { page-break-before: auto; }
    footer { page-break-before: always; column-break-before: always; }
    .book > .title-page {
      page: title-page;
      // vertically center the book title on the page
      height: $content-height-print;
      line-height: $content-height-print;
      h1 {
        display: inline-block;
      }
    }
  }

  /* These string-sets are used by the paged-media for running headers. */
  .book > section h1,
  .book-page > footer h2 { string-set: lesson-title content(); }
  .book > .title-page h1 { string-set: book-title content(); }
  @include page-setup();
}
