
// cozy up to the site header.
.habit-lesson-page {
  .site-header {
    margin-bottom: 0;
  }
}

.habit-lesson {
  page: habit-lesson;
  
  // note: problem numbers are colored based on the containing book in
  // habits-colors.scss
  
  .development {
    page-break-after: always;
    margin-bottom: lines(3);
  }
}

/**
 *
 * Our snazzy header.
 *
 */
.habits-textfield {
  font-family: $font-family-display;
  text-transform: uppercase;
  font-weight: bold;
  color: $grey-color-light;
  line-height: 1;
  text-align: justify;
  letter-spacing: -1px;
  word-break: break-all;
  overflow: hidden;
  prince-text-justify: prince-cjk;
  hyphens: auto;
}

.habit-header {
  $lines: 6;

  margin-bottom: lines($lines);

  font-size: .33em;
  @include mq(sm) { font-size: 2em/3; }
  @include mq(print) { font-size: 1em; }
  
  .left,
  .right {
    height: 1em * $lines;
    position: relative;
    .habits-textfield {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
    }

    h1 {
      font-size: (1.33em) * $lines;
      line-height: 1;
      
      position: absolute;
      bottom: -.11em;
      right: -.04em;
      margin: 0;
      small {
        position: absolute;
        bottom: .15em;
        right: .1em;
        margin: 0;
        
        font-weight: normal;
        color: $grey-color-dark;
        text-transform: none;
        font-size: .5em;
        
        // the colorful triangle.
        // ( note: color set in habit-colors.scss! )
        &:before {
          position: absolute;
          right: 102%;
          content: " ";
          width: 0;
          height: 0;
          border-top: .5em solid transparent;
          border-bottom: .5em solid transparent;
          border-right:.5em solid;
          border-right-color: inherit;
        }
      }
    }
  }
  
  @include mq(print) {
    .left,
    .right {
      h1 {
        bottom: -.13em;
      }
    }
    .left {
      flow: static(header-left);

      h1 {
        right: percentage(1/$grid-columns);
        left: auto;
      }
    }
    .right {
      flow: static(header-right);

      h1 {
        right: auto;
        left: percentage(1/$grid-columns);
        small {
          right: auto;
          left: 0;
          color: black;
          letter-spacing: -1px;
        }
      }
    }
  }
}
