
.home {
  @extend .container;
  margin-top: lines(2);
  
  .toc,
  .lessons {
      margin-left: 0;
      padding-left: 0;
      list-style: none;

      > li {
          margin-bottom: lines(1);
      }
  }
}
