/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    
    h1 {
      line-height: 56px;
      letter-spacing: -1px;
      margin: 0;

      a,
      a:visited {
          color: $grey-color-dark;
      }
    }

    position: relative;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    font-size: $small-font-size;
    
    h2 {
      font-size: $base-font-size;
      margin-bottom: $spacing-unit / 2;
    }
    
}
