/**
 * Site header
 */
.site-header {
    font-family: $font-family-display;
    text-transform: uppercase;

    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    margin-bottom: lines(3);

    @include mq(sm, print) { min-height: 56px; }

    position: relative;

    h1 {
      font-size: .875em;
      margin: 0;
      line-height: 1.15;

      a { max-width: 50%; }

      @include mq(sm, print) {
        font-size: 1em;
        line-height: 56px;
      }

      a,
      a:visited {
        color: $grey-color-dark;
      }
    }
    
    .book { float: right; text-align: right; }
}

/**
 * Site footer
 */
.site-footer {
  font-family: $font-family-display;
  border-top: 1px solid $grey-color-light;
  margin-top: 3em;
  
  padding: lines(2) 0;
  font-size: $small-font-size;
  color: $grey-color;
  
  h2 {
    margin-bottom: lines(1);
  }
}
