
/* helper mixins */
@mixin lesson-section-heading {
  color: $grey-color;
  font-weight: 400;
  text-align: right;
  
  font-size: 2em;
  @include mq(sm, print) {
    font-size: 3em;
  }
}

@mixin bookmark($level) {
  @include mq(print) {
    bookmark-level: $level;
    bookmark-state: closed;
  }
}

@mixin offset-column-print-and-sm($offset, $width) {
  @include make-column(sm, $width);
  @include make-column-offset(sm, $offset);
  @include make-column(print, $width);
  @include make-column-offset(print, $offset);
}


.lesson {
  
  /* convenience classes for lesson authors/editors to use */
  .fig-50 > img { width: 50%; margin: 0 auto; }
  .fig-25 > img { width: 25%; margin: 0 auto; }
  
  em.vocab {
    font-weight: bold;
    font-style: normal;
  }
  
  .new-page {
    @include mq(page) {
      display: block;
      page-break-before: always;
    }
  }

  /* problem counter */
  counter-reset: problem;
  
  /* base body font */
  font-family: $font-family-text;

  /* base display font */
  h1,
  h2,
  h3 { font-family: $font-family-display; }

  /* extra line of space for a problem that follows other content */    
  * + .problem {
    margin-top: lines(2);
  }

  /* simple table with basic borders */
  table {
    font-size: $small-font-size;
    margin-bottom: lines(1);
    border: 1px solid #666;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border: 1px solid #666;
          padding: 0 .5em;
        }
      }
    }
    > thead > tr {
      > th,
      > td {
        border-bottom-width: 2px;
      }
    }
  }

  /* main lesson title */
  h1 {
    color: $grey-color-light;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    padding: 0;
    
    font-size: 2em;
    @include mq(sm, print) { font-size: 3em; }

    margin-bottom: 1em;

    @include bookmark(1);
  }
  
  /* subheadings for sections within lesson (Introduction, Development, etc.) */
  h2 { @include bookmark(2); }
  
  /* a problem (see below for section-specific styling) */
  .problem {
    counter-increment: problem;
    counter-reset: part;
    
    /* problem numbers and problem parts */
    position: relative;
    &:before {
      content: counter(problem);
      font-family: $font-family-text;
      color: $grey-color;
      line-height: 1;
      font-size: 2.5em;
      padding-right: .25em;
      float: left;
      
      @include mq(sm, print) {
        position: absolute;
        right: 100%;
        top: -.5em;
        font-size: 3.5em;
        padding-right: 0;
      }
    }
    
    .problem-part {
      counter-increment: part;
      &:before { content: counter(part, lower-alpha); }
    }
  }


  /* the Development (and Intro and Practice) section */
  .development {
    @include make-row();
    
    margin-bottom: lines(3);

    h2 {
      @include lesson-section-heading;
      @include offset-column-print-and-sm(0, 10);
    }
    
    & > p,
    & > figure { @include offset-column-print-and-sm(2, 8); }
    .problem { @include offset-column-print-and-sm(3, 7); }
  }

  /* the Problems (and Exploring in Depth) section */
  .problems {
    @include make-row();
    
    & > p {
      @include make-column(sm,6);
      @include make-column(print, 12);
      margin-top: lines(1);
    }
    .problem {
      @include make-column(sm,5);
      @include make-column-offset(sm,1);
      @include make-column(print, 10);
      @include make-column-offset(print, 2);
    }
    
    @include mq(print) {
      column-count: 2;
      -webkit-column-count: 2;
      column-fill: auto;
      &:after {
        column-break-after: always;
      }
    }

    /* Problems heading */
    h2:first-of-type {
      @include make-column(sm,12);

      font-weight: 700;
      color: $grey-color-light;
      
      font-size: 2.5em;
      @include mq(sm, print) { font-size: 4em; column-span: all; }
    }

    /* Exploring in Depth heading */
    h2:nth-of-type(2) {
      @include make-column(sm,3);
      @include make-column-offset(sm,3);
      @include make-column(print, 6);
      @include make-column-offset(print, 6);

      @include lesson-section-heading;
    }
    
    /* center figures by default within problems section. */
    figure {
      margin: 0 auto lines(1) auto;
    }
  }


  @include mq(print) {
    h1,h2 { page-break-after: avoid; }
    .problem p { page-break-inside: avoid; }
  }
}
