
$font-family-display: 'Gill Sans';
$font-family-text: 'Garamond';
$font-size-problem-numbers: 3.5em;


.lesson-header {
  font-family: $font-family-display;
  text-transform: uppercase;
  
  h1 { 
    font-size: 1em; 
    letter-spacing: 0;
  }
  .book { float: right; text-align: right; }
}

.lesson {
  counter-reset: problem;
  font-family: 'Garamond';

  figure,
  img { max-width: 100%; }

  h1,
  h2,
  h3 {
    font-family: 'Gill Sans';
  }


  table {
    border: 1px solid #666;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          border: 1px solid #666;
          padding: 0 .5em;
        }
      }
    }
    > thead > tr {
      > th,
      > td {
        border-bottom-width: 2px;
      }
    }
  }


  /* Lesson title */
  h1 {
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    font-size: 3em;
    text-align: right;
    padding: 0 1em;
  }
  
  /* for authors to use */
  .fig-md { width: 50%; }
  .fig-sm { width: 25%; }
  
  em.vocab {
    font-weight: bold;
    font-style: normal;
  }
  
  .problem {
    counter-increment: problem;
    counter-reset: part;
    
    margin-top: 3em;

    /* Problem Numbers */
    position: relative;
    &:before {
      content: counter(problem);
      position: absolute;
      right: calc(100%);
      top: calc(-.5em + .5rem);
      
      font-family: 'Garamond';
      font-size: $font-size-problem-numbers;
      line-height: 1;
      color: #aaa;
    }
    
    .problem-part {
      counter-increment: part;
      &:before {
        content: counter(part, lower-alpha);
      }
      
    }
  }



  @mixin development-tube {
    @include make-column(sm,9);
    @include make-column-offset(sm,1);
    @include make-column(print, 9);
    @include make-column-offset(print, 1);
  }

  .development {
    @include make-row();

    h2 {
      @include development-tube;
      font-weight: 400;
      color: #777;
      font-size: 3em;
    }
    
    & > p {
      @include development-tube;
    }
    .problem {
      @include development-tube;
    }
  }


  .problems, .exploring-in-depth {
    @include make-row();
        
    & > p {
      @include make-column(sm,6);
      @include make-column(print, 12);
      margin-top: 3em;
    }
    .problem {
      @include make-column(sm,5);
      @include make-column-offset(sm,1);

      @include make-column(print, 10);
      @include make-column-offset(print, 2);
    }
    
    @include mq(print) {
      column-count: 2;
      -webkit-column-count: 2;
    }
  }
  
  .problems {
    h2 {
      @include make-column(sm,12);
      @include make-column(print, 12);

      font-weight: 700;
      color: #bbb;
      font-size: 4em;
    }
  }
  
  .exploring-in-depth {
    h2 {
      @include make-column(sm,3);
      @include make-column-offset(sm,3);

      @include make-column(print, 6);
      @include make-column-offset(print, 6);

      margin-top: 0;
      font-weight: 400;
      color: #777;
      font-size: 3em;
    }
  }


  @include mq(print) {
    h1,h2 { page-break-after: avoid; }
    .problem p { page-break-inside: avoid; }
  }
}
