
@mixin margin-text() {
  @include base-style();
  font-family: $font-family-display;
  font-size: $font-size-print-margin;
  text-transform: uppercase;
  color: #000;
}

/**
 * Page Setup:
 * - margins
 * - page numbers
 * - running headers (book / lesson)
 */
@mixin page-setup() {
  @page {
    size: US-Letter;
    margin: $margin-print-outer;
    padding: 0;

    @top-left { @include margin-text(); }
    @top-right { @include margin-text(); }
    @bottom-right { @include margin-text(); }
    @bottom-left { @include margin-text(); }
  }

  @page:left {
    margin-right: $margin-print-gutter;
    @top-left {
      content: string(book-title);
    }
    @bottom-left {
      content: counter(page);
    }
  }

  @page:right {
    margin-left: $margin-print-gutter;
    @top-right {
      content: string(lesson-title);
    }
    @bottom-right {
      content: counter(page);
    }
  }

  @page title-page {
    size: US-Letter;
    margin: $margin-print-outer;
    padding: 0;
  }

  @page title-page:left {
    @bottom-left {
      content: counter(page, lower-roman);
    }
  }
  @page title-page:right {
    @bottom-right {
      content: counter(page, lower-roman);
    }
  }

  @page habit-lesson {
    margin-top: ($margin-print-outer * 3);
  }

  @page habit-lesson:left {
    @top-left {
      content: flow(header-left);
    }
  }

  @page habit-lesson:right {
    @top-right {
      content: flow(header-right);
    }
  }

  @page habit-list {
    margin-top: ($margin-print-outer * 3);
  }

  @page habit-list:left {
    @top-left {
      content: flow(header-left);
    }
  }

  @page habit-list:right {
    @top-right {
      content: flow(header-right);
    }
  }
}
