---
# noop
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="book-page">

    {% include header.html %}


    <section class="container">
    {% assign lessons = (site.lessons | where: 'book', page.book) %}
      
      <section class="toc">
        <ul class="lessons">
          {% for lesson in lessons %}
          {% if lesson.published %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}#lesson-{{ page.book }}-{{ lesson.lesson }}">
                {% include lesson-title.html lesson=lesson %}
              </a>
            </li>
          {% endif %}
          {% endfor %}
        </ul>
      </section>
      
      {% for lesson in lessons %}
      {% if lesson.published %}
      <section class="lesson" id="lesson-{{ page.book }}-{{ lesson.lesson }}">
        {% capture emptytag %}{% raw %}{%  %}{% endraw %}{% endcapture %}
        {{ lesson.content | remove_first: 'raw' | remove: 'endraw' | remove: emptytag }}
      </section>
      {% endif %}
      {% endfor %}
      
    </section>

    {% include footer.html %}


    {% include mathjax-script.html %}
  </body>
  

</html>
